# Ignore Python virtual environments
venv/

# Ignore all files in OCR_data, but not the directory itself
OCR_data/*
!OCR_data/

# Ignore all files in chroma_db, but not the directory itself
chroma_db/*
!chroma_db/

# Ignore all files in uploads, but not the directory itself
uploads/*
!uploads/

# Ignore all files in chroma_db, but not the directory itself
chroma_db/*
!chroma_db/

#Ignore Python cache files
.pytest_cache
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore files related to version control
.git
.gitignore

# Ignore common temporary files and directories
*.swp
*.swo
*~
**/*.md
*.log
*.tmp
*.bak
.DS_Store
.idea
.vscode